
.content {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 1.2rem;
  font-size: 0.28rem;
  background: #F2F2F2;
  padding-bottom: 0.4rem;
}

.content .xxmc {
  width: 100%;
  height: 2.3rem;
  background: white;
}
.content .xxmc .touxiang {
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.4rem 0.2rem;
}

.content .xxmc .touxiang img {
  width: 100%;
  height: 100%;
}

.content .xxmc .mingcheng {
  float: left;
  width:5.5rem;
  overflow:hidden;
}

.content .xxmc .mingcheng .xuexiao {
  font-size: 0.4rem;
  line-height: 0.5rem;
  padding-top:0.4rem;
  color: #4B4B4B;
}

 .jrxs {
   width: 2.78rem;
   height: 0.93rem;
   line-height: 0.93rem;
   font-size: 0.34rem;
   color: white;
   text-align: center;
   border-radius: 2rem;
   background-color: rgba(232, 59, 139, 1);
   border: 0.03px solid rgba(232, 59, 139, 1);
   margin:1.5rem auto ;
 }


.content .xxjj {
  width: 100%;
  height: auto;
  background: white;
}

.content .xxjj p {
  width: 7.1rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.3rem;
  color: #4B4B4B;
  margin-left: 0.2rem;
  border-top: 1px solid #F2F2F2;
}

.content .xxjj .jianjie {
  width: 7.1rem;
  margin-left: 0.2rem;
  line-height: 0.4rem;
  font-size: 0.26rem;
  color: #777777;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  overflow-x: hidden;
  border-bottom: 1px solid #F2F2F2;
}

.liebiao {
  width: 100%;
  font-size: 0.28rem;
  background: white;
}

.liebiao .list {
  width: 100%;
  height: 1rem;
  line-height:1rem;
}

.liebiao .list .xycy {
  float: left;
  width: 5.2rem;
  height: 0.8rem;
}

.liebiao .list .xycy .cylist {
  float: right;
  margin-right: 0.1rem;
}

.liebiao .list .xycy .cylist li {
  width: 0.6rem;
  height: 0.6rem;
  float: left;
  margin: 0.2rem 0;
  margin-left: -0.25rem;
  border-radius: 50%;
  overflow: hidden;
}

.liebiao .list .xycy .cylist li img {
  width: 100%;
  height: 100%;
}
.liebiao .list .xycy .cylist li .img {
  width: 100%;
  height: 100%;
  /*background-image:url(images/text.png);*/
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

.liebiao .list .xycy .renshu {
  float: right;
  font-size: 0.24rem;
  color: #777777;
}

.liebiao .list .tupiao {
  float: left;
  width: 0.6rem;
  height: 0.6rem;
  background: #CCCCCC;
  margin: 0.1rem 0px;
  margin-left: 0.3rem;
}

.liebiao .list .xingxi {
  float: left;
  margin-left: 0.2rem;
  font-size:0.3rem;
  color: #4B4B4B;
}

.liebiao .list .guanliyuan {
  float: left;
  width: 5.4rem;
  height: 0.8rem;
}

.liebiao .list .guanliyuan .gly {
  float: right;
}

.liebiao .list .guanliyuan .gly .touxiang {
  float: left;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  margin: 0.1rem;
  overflow: hidden;
}

.liebiao .list .guanliyuan .gly .touxiang img {
  width: 100%;
  height: 100%;
  display: block;
}

.liebiao .list .guanliyuan .gly .touxiang .img {
  width: 100%;
  height: 100%;
  /*background-image:url(images/text.png);*/
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}
.liebiao .list .guanliyuan .gly .touxiang .img.default {
  background-image:url('../../../static/images/bj.jpg');
}

.liebiao .list .guanliyuan .gly .nicheng {
  float: left;
}

.liebiao .list .list-right {
  float: right;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.1rem;
  text-align: right;
}

.liebiao .list .list-right img {
  width: 0.3rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}

/*# sourceMappingURL=xuexiaoxiangqing.css.map */
